@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #0c0a09;
  --primary: #fef08a;
  --secondary: #bfdbfe;

  --primary-accent: #fde047;
  --foreground-accent: #64748b;
  --hero-background: #f0f9ff;
  --lime: #d9f99d;
  --lime-accent: #bef264;
  --sky: #e0f2fe;
  --neutral: #fafaf9;
}

html {
  @apply scroll-smooth;
}

body {
  @apply text-base;

  color: var(--foreground);
  background: var(--background);
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.figtree {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Figtree", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
  font-weight: 500;
}

#logos svg {
  @apply w-fit h-10 sm:h-12;
}

.benefit-section:last-of-type > div {
  @apply mb-10;
}